<div class="jumbotron">
  <h1>Tech Store Demo</h1>
  <p class="lead">
    <span class='glyphicon glyphicon-ok-circle' id='logo'></span><br>
    A demo of a <strong>Revolutionary</strong> web store!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Amazing!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<!-- Featured Products Container -->
<div class='well clearfix'>
  <h3>Featured Products</h3>
  <div ng-repeat='product in products' class="col-md-4 col-sm-6">
    <div class="thumbnail">
      <img ng-src={{product.images[0].url.https}} alt="...">
      <div class="caption clearfix">
        <h3>{{product.title}} <div class='pull-right thumbnail-price-container'><small class=''>{{product.pricing.formatted.without_tax}}</small></div></h3>

        <div class='pull-right'>
          <a href="" class="btn btn-success btn-sm" role="button"><span class='glyphicon glyphicon-shopping-cart'></span> Add to Cart</a>

          <a href="#/product/{{product.id}}" class="btn btn-primary btn-sm" role="button">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
